.switch {
    position: relative;
    display: inline-block;
    width: 38px;
    height: 20px;

    margin-left: 12px;
    margin-right: 12px;

    & input {
        opacity: 0;
        width: 0;
        height: 0;
    }
}


/* The slider */